@use 'src/scss/breakpoints';

:host {
  overflow-y: auto;
  padding:40px;
  box-sizing: border-box;
  position: relative;
  height: 100%;

  .content-layout__main {
    margin-bottom: 60px;
  }
  
}

@media only screen and (min-width: breakpoints.$screen-md-min) {
  :host {

  }
}
