@use "src/scss/breakpoints";


:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  box-sizing: border-box;

  mat-drawer-container {
    height: 100vh;

    mat-drawer {
      width: 90%;
    }

    mat-drawer-content {
      height: 100%;
      display: grid;
      grid-template-rows: auto 1fr;

      main {
        display: block;
        box-sizing: border-box;
      }
    }
  }
}

@media only screen and (min-width: breakpoints.$screen-md-min) {
  :host {
    display: block;

    mat-drawer-container {
      
      box-sizing: border-box;

      bl-navbar {

      }

      mat-drawer {
        width: 275px;
        display: block;
        border-right: 1px solid #D7D3CB;
      }

      mat-drawer-content {
        grid-template-columns: 50px 1fr;
        position: relative;

        main {
          display: block;
          position: relative;
          height: 100%;
          box-sizing: border-box;
          grid-column: 2;
          width: 100%;
        }
      }
    }
  }
}
