<div bl-title-bar>
  <h1 bl-title>
    <span>Add Dependency Relationship</span>
  </h1>
  <button mat-icon-button [mat-dialog-close] tabindex="-1">
    <mat-icon>
      close
    </mat-icon>
  </button>
</div>

<div *ngIf="story$ | async as story" class="add-dependency-relationship-dialog__story">
  <h1>{{ story.name }}: {{ story.title }}</h1>
</div>

<mat-form-field class="bl-form-field">
  <mat-label>Search:</mat-label>
  <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto" cdkFocusInitial />

  <mat-autocomplete
    autoActiveFirstOption
    [displayWith]="displayWith"
    #auto="matAutocomplete"
    (optionSelected)="storySelected($event)"
  >
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div>
  <span *ngFor="let story of (stories$ | async)">
    {{ story }}
  </span>
</div>

<div class="g-actions">
  <button class="bl-button" [mat-dialog-close]>Cancel</button>
  <button class="bl-button" (click)="save()">Save</button>
</div>
