<ng-container *ngIf="vm$ | async as vm">
  <bl-two-column-layout>
    <div class="stores__content-container">
      <div bl-title-bar>
        <h1 bl-title [routerLink]="['/','stories','create']">
          <span>Create Story</span>
        </h1>
        <button mat-icon-button [mat-dialog-close] tabindex="-1">
          <mat-icon>
            search
          </mat-icon>
        </button>
      </div>

      <div class="stories__list">
        <span *ngFor="let story of vm.stories" [routerLink]="['/','stories','edit',story.storyId]">{{ story.name }}: {{ story.title }}</span>
      </div>
    </div>
  </bl-two-column-layout>
</ng-container>
