<ng-container *ngIf="vm$ | async as vm">
  <bl-two-column-layout>
    
    <div class="bl-title-bar" *ngIf="!vm.searchEnabled">
      <h1 class="bl-title" [routerLink]="['/','stories','create']">
        <span>Create Story</span>
      </h1>
      <button mat-icon-button tabindex="-1" (click)="onSearchClick()">
        <mat-icon>
          search
        </mat-icon>
      </button>
    </div>

    <bl-search-stories-control *ngIf="vm.searchEnabled" [formControl]="searchControl" (closeClick)="onCloseClick()">

    </bl-search-stories-control>

    <div class="stories__list">
      <span *ngFor="let story of vm.stories" [routerLink]="['/','stories','edit',story.storyId]">{{ story.title }}</span>
    </div>

    <div *ngIf="vm.stories.length == 0 && vm.searchEnabled && vm.query">
      Nothing found for {{ vm.query }}. <a [routerLink]="['/','stories','create']">Create Story</a>
    </div>
  </bl-two-column-layout>
</ng-container>
