<div class="bl-title-bar">
  <h1 class="bl-title">
    <span *ngIf="!sprint.sprintId">Create Sprint</span>
    <span *ngIf="sprint.sprintId">Edit Sprint</span>
  </h1>
</div>

<form [formGroup]="form" class="bl-form">
  <div class="bl-field">
    <label class="bl-label">Name</label>
    <input type="text" formControlName="name" autocomplete="off" class="bl-input">
  </div>
</form>

<div class="bl-actions">
  <button class="bl-button" (click)="save.emit(form.value)" [disabled]="!form.valid || form.pristine">
    Save
  </button>
</div>
