@use 'src/scss/breakpoints';

:host {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  width: 100%;

  .two-column-layout__router-outlet,
  .two-column-layout__content-column {
    overflow-y: auto;
    padding: 0 40px 40px;
  }

  .two-column-layout__content-column {
    padding-top: 40px;
    display: none;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    box-sizing: border-box;

    .two-column-layout__content-container {
      grid-row: 2;
      overflow-y: auto;
    }

    bl-footer {
      grid-row: 3;
    }
  }
}

:host-context(.two-column-layout--default) {
  .two-column-layout__content-column {
    display: grid;
  }

  .two-column-layout__router-outlet {
    display: none;
  }
}

@media only screen and (min-width: breakpoints.$screen-md-min) {
  :host {
    height: 100vh;
    grid-template-columns: 1fr 1fr;

    div[bl-header] {
      display: none;
    }

    .two-column-layout__content-column {
      display: grid;
      padding-right: 40px;
    }

    .two-column-layout__router-outlet {
      padding-left: 40px;
      border-left: 1px solid #CCC;
    }
  }

  :host-context(.two-column-layout--default) {
    .two-column-layout__content-column {
      display: grid;
    }

    .two-column-layout__router-outlet {
      display: initial;
    }
  }
}
