<ng-container *ngIf="vm$ | async as vm">

  <h1 class="bl-title" *ngIf="!vm.storyControl.value.storyId"><span>Create Story</span></h1>

  <h1 class="bl-title" *ngIf="vm.storyControl.value.storyId"><span>Edit Story</span></h1>

  <bl-story-control [formControl]="vm.storyControl"
  (addSkillRequirementClick)="handleAddSkillRequirementClick(vm.storyControl.value)"
  (addDependencyRelationshipClick)="handleAddDependencyRelationshipClick(vm.storyControl.value)"
  (fileUploadClick)="handleFileUploadClick(vm.storyControl.value)"
  (addSprint)="onAddSprint(vm.story.storyId)"
  [sprints]="vm.sprints"
  ></bl-story-control>

  <div class="g-actions">

    <mat-checkbox *ngIf="!vm.storyControl.value.storyId" [formControl]="createAnotherControl">
      Create Another
    </mat-checkbox>

    <button class="bl-button" [routerLink]="['/','stories']">
      Cancel
    </button>

    <button class="bl-button" (click)="save(vm.storyControl.value)">
      Save
    </button>

  </div>
</ng-container>
