<ng-container *ngIf="vm$ | async as vm">

  <h1 bl-title *ngIf="!vm.storyControl.value.storyId"><span>Create Story</span></h1>

  <h1 bl-title *ngIf="vm.storyControl.value.storyId"><span>Edit Story</span></h1>

  <bl-story-control [formControl]="vm.storyControl"
  (addSkillRequirementClick)="handleAddSkillRequirementClick(vm.storyControl.value)"
  (addDependencyRelationshipClick)="handleAddDependencyRelationshipClick(vm.storyControl.value)"
  ></bl-story-control>

  <div class="g-actions">

    <button bl-button [routerLink]="['/','stories']">
      Cancel
    </button>

    <button bl-button (click)="save(vm.storyControl.value)">
      Save
    </button>

  </div>
</ng-container>
