:host {
  display: block;
  box-sizing: border-box;
  .bl-title-form-field {
    margin-bottom: 30px;
  }

  .story-control__options {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }
}
