<div class="bl-title-bar">
  <h1 class="bl-title">
    <span *ngIf="!user.userId">Create User</span>
    <span *ngIf="user.userId">Edit User</span>
  </h1>
</div>

<form [formGroup]="form" class="bl-form">
  <mat-form-field appearance="outline" class="bl-field">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" autocomplete="off" class="bl-input">
  </mat-form-field>

  <mat-form-field appearance="outline" class="bl-field">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" autocomplete="off" class="bl-input">
  </mat-form-field>

</form>

<div class="bl-actions">
  <button class="bl-button" (click)="save.emit(form.value)" [disabled]="!form.valid || form.pristine">
    Save
  </button>
</div>
