:host {
  border-top:10px #CFECE3 solid;
  display: block;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  padding:0;
  margin:0;
  height: 100%;

  main {
    display: block;
    min-height: 100%;
    box-sizing: border-box;
  }
}
