@use 'src/scss/variables';

:host {
  display: block;
  box-sizing: border-box;
  padding:40px;
  bl-days-until-sprint-is-over {
    padding: 40px 0px 0px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 40px 0px;
    text-transform: uppercase;
    cursor: pointer;

    a {
      text-decoration: none;
      color:variables.$text-color;
    }
  }
}
